@model  OFAMA.Models.MerchandiseViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">新規作成</a>
</p>

<form asp-controller="Merchandises" asp-action="Index" method="get">
    <p>
        制作年度検索:
        <select asp-for="MerchYear" asp-items="Model.Years">
            <option value="">全て</option>
        </select>

        種別検索:
        <select asp-for="MerchKind" asp-items="Model.Kinds">
            <option value="">全て</option>
        </select>

        商品名検索: <input type="text" asp-for="SearchString" />
        <input type="submit" value="検索" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Merchandises[0].ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Merchandises[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Merchandises[0].Kind)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Merchandises[0].Created_yaer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Merchandises[0].Created_at)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Merchandises[0].Updated_at)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Merchandises) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kind)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created_yaer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created_at)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated_at)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <!--<a asp-action="Details" asp-route-id="@item.Id">Details</a> |-->
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
