@model OFAMA.Models.MerchandiseManagerViewModel

@{
    ViewData["Title"] = "Index";
}

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <!--==============レイアウトを制御する独自のCSSを読み込み===============-->
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="~/css/acordionpanel.css" />
</head>
<h3 class="heading">商品管理画面</h3>
<div class="buttons-container">
    <div>
        <a asp-action="Create" class="btn btn-primary btn-lg">新規データ登録</a>
        <div class="mb-3"></div>
        <form asp-controller="MerchandiseManagers" asp-action="Index" method="get">
            
                <input type="submit" value="検索条件のリセット" class="btn btn-outline-primary btn-lg" />
           
        </form>
    </div>
    <div>
        <a asp-area="" asp-controller="Merchandises" asp-action="Index" class="btn btn-primary btn-lg">商品名登録</a>
    </div>
</div>

<form asp-controller="MerchandiseManagers" asp-action="Index" method="get">
    <ul class="accordion-area">
        <li>
            <section>
                <h3 class="accordiontitle">絞り込み検索</h3>
                <div class="accordionbox">
                    <div>
                        @Html.DisplayNameFor(model => model.MerchManagers[0].UserId)
                    </div>
                    <div><input type="text" asp-for="SearchNameString" /></div>

                    <div>
                        @Html.DisplayNameFor(model => model.MerchManagers[0].MerchId)
                    </div>
                    <div><input type="text" asp-for="SearchMerchString" /></div>

                    <div>
                        @Html.DisplayNameFor(model => model.MerchManagers[0].Created_at)
                    </div>
                    <div>
                        <input type="date" asp-for="StartDate" />
                        ～
                        <input type="date" asp-for="EndDate" />
                        <!--<input　type ="date" asp-for="StartDate" class="form-control" />
                        ～
                        <input　type ="date" asp-for="EndDate" class="form-control" />-->
                    </div>
                    <div><input type="submit" value="検索" class="btn btn-primary" /></div>
                </div>
            </section>
        </li>
    </ul>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="~/js/accordionpanel.js"></script>
</form>

<div class="table-responsive">
    <table class="table table-hover" id="Table">
    <thead>
        <tr class="table-secondary">
            <th class="text-center">
                @Html.DisplayNameFor(model => model.MerchManagers[0].UserId)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.MerchManagers[0].MerchId)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.MerchManagers[0].Amount)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.MerchManagers[0].Created_at)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.MerchManagers[0].Updated_at)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MerchManagers) {
        <tr>
            <td>
                @{
                    string userName;
                    // EquipIdに対応するItemNameを取得する
                    //var userName = item.UserId;
                    if (ViewBag.UserDictionary.ContainsKey(item.UserId)){
                        userName = ViewBag.UserDictionary[(item.UserId)].UserName;
                    }
                    else
                    {
                        userName = "unknown user";
                    }
                }
                @userName
                <!--@Html.DisplayFor(modelItem => item.UserId)-->
            </td>
            <td>
                @{
                    // MerchIdに対応するItemNameを取得する
                    var itemName = ViewBag.MerchDictionary[item.MerchId];
                }
                @itemName
                <!--@Html.DisplayFor(modelItem => item.MerchId)-->
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Created_at)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Updated_at)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info btn-sm">編集</a> 
                <a asp-action="Move" asp-route-id="@item.Id" class="btn btn-success btn-sm">移動</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">削除</a>
            </td>
        </tr>
}
    </tbody>
</table>
    <button id="show-all-btn" class="btn btn-primary">すべて表示</button>
</div>

