@model OFAMA.Models.MerchandiseManagerViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h2><a asp-area="" asp-controller="Merchandises" asp-action="Index">商品メニュー</a></h2>

<p>
    <a asp-action="Create">Create New</a>
</p>


<form asp-controller="MerchandiseManagers" asp-action="Index" method="get">
    <p>
        
        作成日検索: <input　type="date" asp-for="StartDate" class="form-control"  />
        <input　type="date" asp-for="EndDate" class="form-control"  />
        ユーザ検索:<input type="text" asp-for="SearchNameString" />
        商品名検索:<input type="text" asp-for="SearchMerchString" />
        <input type="submit" value="検索" />
    </p>
</form>

<form asp-controller="MerchandiseManagers" asp-action="Index" method="get">
    <p>
        <input type="submit" value="全データ表示" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                ユーザ名
            </th>
            <th>
                商品名
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MerchManagers[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MerchManagers[0].Created_at)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MerchManagers[0].Updated_at)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MerchManagers) {
        <tr>
            <td>
                @{
                // EquipIdに対応するItemNameを取得する
                //var userName = item.UserId;
                var userName = ViewBag.UserDictionary[(item.UserId)];
                }
                @userName
                <!--@Html.DisplayFor(modelItem => item.UserId)-->
            </td>
            <td>
                @{
                    // MerchIdに対応するItemNameを取得する
                    var itemName = ViewBag.MerchDictionary[item.MerchId];
                }
                @itemName
                <!--@Html.DisplayFor(modelItem => item.MerchId)-->
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created_at)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated_at)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Move" asp-route-id="@item.Id">Move</a> | 
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

