@model OFAMA.Models.FinanceViewModel

@{
    ViewData["Title"] = "Index";
}
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <!--==============レイアウトを制御する独自のCSSを読み込み===============-->
    <link rel="stylesheet" type="text/css" href="~/css/acordionpanel.css" />
</head>

<h3 class="heading">会計管理画面</h3>

<p>
    <a asp-action="Create" class="btn btn-primary btn-lg">新規データ登録</a>
    <form asp-controller="Finances" asp-action="Index" method="get">
        <p>
            <input type="submit" value="検索条件のリセット" class="btn btn-outline-primary btn-lg" />
        </p>
    </form>
</p>

<!-- 機関ごとの合計金額を表示するアコーディオンパネル -->
<ul class="accordion-area">
    <li>
        <section>
            <h3 class="accordiontitle">機関ごとの合計金額</h3>
            <div class="accordionbox">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>機関名</th>
                            <th>合計金額(円)</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.InstitutionTotalAmounts)
                        {
                            <tr>
                                <td>@item.Key</td>
                                <td>@item.Value</td> <!-- 各機関ごとの合計をここに表示 -->
                            </tr>
                        }

                        <!-- Total row added here -->
                        <tr class="total-row">
                            <td><strong>総合計</strong></td>
                            <td><strong>@Model.Financemoneytotal</strong></td> <!-- 合計金額を表示 -->
                        </tr>

                    </tbody>
                </table>
            </div>
        </section>
    </li>
</ul>

<form asp-controller="Finances" asp-action="Index" method="get">
    <ul class="accordion-area">
        <li>
            <section>
                <h3 class="accordiontitle">絞り込み検索</h3>
                <div class="accordionbox">
                    <div>
                        @Html.DisplayNameFor(model => model.Finances[0].Received)
                    </div>
                    <div>
                        <select asp-for="FinanceReceived" asp-items="Model.Receiveds">
                            <option value="">全て</option>
                        </select>
                    </div>

                    <div>
                        @Html.DisplayNameFor(model => model.Finances[0].InstiId)
                    </div>
                    <div>
                        <select asp-for="FinanceInstitution" asp-items="Model.Institutions">
                            <option value="">全て</option>
                        </select>
                    </div>

                    <div>
                        @Html.DisplayNameFor(model => model.Finances[0].UserId)
                    </div>
                    <div><input type="text" asp-for="SearchNameString" /></div>

                    <div>
                        @Html.DisplayNameFor(model => model.Finances[0].Way)
                    </div>
                    <div><input type="text" asp-for="SearchString" /></div>

                    <div>
                        @Html.DisplayNameFor(model => model.Finances[0].Created_at)
                    </div>
                    <div>
                        <input type="date" asp-for="StartDate" />
                        ～
                        <input type="date" asp-for="EndDate" />
                    </div>

                    <div><input type="submit" value="検索" class="btn btn-primary" /></div>
                </div>
            </section>
        </li>
    </ul>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="~/js/accordionpanel.js"></script>
</form>

<div class="table-responsive">
    <table class="table table-hover" id="Table">
    <thead>
        <tr class="table-secondary">
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Finances[0].UserId)
            </th>
                <th class="text-center">
                @Html.DisplayNameFor(model => model.Finances[0].Money)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Finances[0].Received)
            </th class="text-center">
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Finances[0].InstiId)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Finances[0].Way)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Finances[0].Created_at)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Finances[0].Updated_at)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Finances)
        {
            <tr>
                <td>
                    @{
                        string userName;
                        // EquipIdに対応するItemNameを取得する
                        //var userName = item.UserId;
                        if (ViewBag.UserDictionary.ContainsKey(item.UserId)){
                            userName = ViewBag.UserDictionary[(item.UserId)].UserName;
                        }
                        else
                        {
                            userName = "unknown user";
                        }
                    }
                    @userName
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.Money)円
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Received)
                </td>
                <td class="text-center">
                    @{
                        // 対応するItemNameを取得する
                        var instiName = ViewBag.InstitutionDictionary[(item.InstiId)];
                    }
                    @instiName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Way)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Created_at)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Updated_at)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info btn-sm">編集</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">削除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
    <button id="show-all-btn" class="btn btn-primary">すべて表示</button>
</div>
