@model IEnumerable<OFAMA.Models.UserWithRoleInfo>

@{
    ViewData["Title"] = "User With Roles";
}

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="~/css/acordionpanel.css" />
</head>
<h1 class="heading">ユーザ別ロール一覧</h1>

<div class="table-responsive">
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().UserRoles)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    <div class="accordion-area">
                        <section>
                            <div class="accordiontitle">
                                ロール一覧
                            </div>
                            <div class="accordionbox">
                                <div>
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>ロール名</th>
                                                <th>ロール付与</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < item.UserRoles.Count; i++)
                                            {
                                                <tr>
                                                    <td>@Html.DisplayFor(modelThing => item.UserRoles[i].RoleName)</td>
                                                    <td>@Html.DisplayFor(modelThing => item.UserRoles[i].IsInThisRole)</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </section>
                    </div>
                </td>
                <td>
                    <a asp-action="EditRoleAssignment" asp-route-id="@item.UserId" class="btn btn-info btn-sm">ロール付与</a>
                </td>
            </tr>
        }
    </tbody>
</table>

 
</div>

@section Scripts {
    <script src="~/js/accordionpanel.js"></script>
}
