@model IEnumerable<OFAMA.Models.UserWithRoleInfo>

@{
    ViewData["Title"] = "UserWithRoles";
}

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <!--==============レイアウトを制御する独自のCSSを読み込み===============-->
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="~/css/acordionpanel.css" />


</head>
<h3 class="heading">User with Roles</h3>


<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserRoles)
            </th>
            
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
                
                    @for (int i = 0; i < item.UserRoles.Count; i++)
                    {
                    <td>
                        @Html.DisplayFor(modelThing => item.UserRoles[i].IsInThisRole)
                        @Html.DisplayFor(modelThing => item.UserRoles[i].RoleName)
                        
                    </td>
                    }
            <td>
                <a asp-action="EditRoleAssignment" asp-route-id="@item.UserId" class="btn btn-info btn-sm">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
