@model IEnumerable<KeywordModel>

@{
    ViewData["Title"] = "Index";
}

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <!--==============レイアウトを制御する独自のCSSを読み込み===============-->
    <link rel="stylesheet" type="text/css" href="~/css/acordionpanel.css" />
</head>

<h3 class="heading">キーワード管理画面</h3>

<p>
    <a asp-action="Create" class="btn btn-primary btn-lg">新規データ登録</a>
</p>

<div class="table-responsive">
<table class="table table-hover" id="Table">
    <thead>
        <tr class="table-secondary">
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Keyword)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Updated_at)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Keyword)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Updated_at)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info btn-sm">編集</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">削除</a>
            </td>
        </tr>
}
    </tbody>
</table>
    <button id="show-all-btn" class="btn btn-primary">すべて表示</button>
</div>