@model IEnumerable<OFAMA.Models.UserViewModel>

@{
    ViewData["Title"] = "Index";
}

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <!--==============レイアウトを制御する独自のCSSを読み込み===============-->
    <link rel="stylesheet" type="text/css" href="~/css/acordionpanel.css" />


</head>
<h3 class="heading">ユーザー管理</h3>



<div style="text-align:center">
    <div class="table-responsive">
        <table class="table table-hover" id="Table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model =>model.UserRoleSum)
            </th>
            <th>
                <text>
                    Graduate
                </text>
            </th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var item in Model)
        {
            
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserRoleSum)
                </td>
                <td>
                    @if(item.UserRoleSum == 0)
                    {
                        <text>
                            graduate
                        </text>
                    }
                </td>
                <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary btn-sm">ResetPassword</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success btn-sm">RoleDetail</a> 
                        <a asp-controller="Role" asp-action="EditRoleAssignment" asp-route-id="@item.Id" class="btn btn-info btn-sm">AddStatus</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a> 
                       
                </td>
            </tr>
            
        }
    </tbody>
    
</table>
        <button id="show-all-btn" class="btn btn-primary">すべて表示</button>
</div>
</div>
