@model OFAMA.Models.Borrow

@{
    ViewData["Title"] = "Return";
}
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <!--==============レイアウトを制御する独自のCSSを読み込み===============-->
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>

<h3>立て替え管理</h3>
<div>
    <h6>返却済にしますか?</h6>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.userName
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowMoney)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BorrowMoney)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BorrowDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Updated_at)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Updated_at)
        </dd>
    </dl>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Return">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ReturnDate" class="control-label"></label>
                    <input asp-for="ReturnDate" class="form-control" />
                    <span asp-validation-for="ReturnDate" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="Status" />
                <input type="hidden" asp-for="UserId" />
                <input type="hidden" asp-for="BorrowMoney" />
                <input type="hidden" asp-for="Usage" />
                <input type="hidden" asp-for="BorrowDate" />
                <input type="hidden" asp-for="ReturnDate" />
                <div class="form-group">
                    <input type="submit" value="Return" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-secondary">Back</a>
                </div>
            </form>
        </div>
    </div

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }






</div>
